* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background: radial-gradient(ellipse at top, #111827, #020617);
  color: #e5e7eb;
}

/* HERO */
/* .team-hero {
  padding: 140px 20px 120px;
  text-align: center;
} */

.team-hero {
  padding: 120px 20px 70px;
  text-align: center;
}

.team-hero h1 {
  font-size: 64px;
  font-weight: 800;
}

.team-hero h1 span {
  color: #fbbf24;
}

.team-hero p {
  margin-top: 16px;
  font-size: 18px;
  color: #94a3b8;
}

.team-section + .team-section {
  margin-top: 40px;
}

/* SECTION */
.team-section {
  
  padding: 60px 20px;
  text-align: center;
}

.team-section h2 {
  font-size: 36px;
  font-weight: 700;
}

.team-section h2.cyan {
  color: #22d3ee;
}

.section-sub {
  margin-top: 12px;
  color: #94a3b8;
}

/* GRID */
.card-grid {
  margin-top: 64px;
  display: grid;
  gap: 40px;
  justify-content: center;
}

.card-grid.center {
  grid-template-columns: 1fr;
}

.card-grid.two {
  grid-template-columns: repeat(2, 320px);
}

.card-grid.four {
  grid-template-columns: repeat(4, 280px);
}

/* CARD */

.team-card {
  padding: 36px 28px 40px;
  width: 100%;
  max-width: 400px; /* keeps nice size */
  border-radius: 18px;
  background: linear-gradient(180deg, rgba(255,255,255,0.06), rgba(255,255,255,0.02));
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.08);
  position: relative;
}
.card-grid.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: #fbbf24;
  border-radius: 18px 18px 0 0;
}

/* AVATAR */
.avatar {
  width: 96px;
  height: 96px;
  margin: 0 auto 24px;
  border-radius: 50%;
  background: rgba(255,255,255,0.06);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 700;
  color: #fbbf24;
}

/* TEXT */
.team-card h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 6px;
}

.role {
  font-weight: 600;
  margin-bottom: 10px;
}

.yellow {
  color: #fbbf24;
}

.cyan {
  color: #22d3ee;
}

.team-card p {
  font-size: 14px;
  color: #cbd5f5;
  margin-top: 6px;
}

/* RESPONSIVE */
@media (max-width: 1100px) {
  .card-grid.four {
    grid-template-columns: repeat(2, 280px);
  }
}

@media (max-width: 700px) {
  .team-hero h1 {
    font-size: 42px;
  }

  .card-grid.two,
  .card-grid.four {
    grid-template-columns: 1fr;
  }
}
